body {
    background-color:lightgray;
    width:30%;
}
h1, h2, h3, h4 {
    font-family:Arial, Helvetica, sans-serif;
    color:blue;
}

h2, h3{
    color:red;
}

h4 {
    color:black;
    border-bottom: lightseagreen 2px solid;
}

header section{
    border: none;

}

section{
    border: yellow 4px solid;
    margin-top:1em;
}

section section{
    border: lightseagreen 1px solid;
    margin:1em;
}

p, ul {
    font-family:Courier New, Courier, monospace;
}

ul{
    list-style-type: none;
}
a{
    color:lightseagreen
}

